.container {
    width: 1400px;
    height: 550px;
}
h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #212121;
    margin-top: 107px;
}
hr {
    background-color: #ff8c2c;
    height: 2px;
    width: 64px;
    margin-top: 30px;
    border: none;
}
.paragraph {
    text-align: center;
    font-size: 14px;
    margin-top: 32px;
    color:#86878B;
}
main {
    margin-top: 80px;
    text-align: center;
}

.lamp, .keyboard, .light {
    display: inline-block;
    width:350px;
    height: 197px;
}
.pics-shine {
    background: url(../img/lamp.png);
}   
.pics-key {
    background: url(../img/keyboard.png);
}
.pics-storm {
    background: url(../img/lighting.png);
}
.pics-shine, .pics-key, .pics-storm {
    background-repeat: no-repeat;
    background-position: center center;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 2px solid #ff8c2c;
    border-radius: 50%;
    margin: 0 auto;  
    
}
h2 {
    font-size: 20px;
}
p {
    color: #86878B;
}
