.layout {
    width: 1400px;
    height: 550px;
}
.heading {
    width: 26px;
    height: 405px;
    display: inline;
}
h1 {
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #212121;
    margin-top: 107px;
}
hr {
    background-color: #ff8c2c;
    height: 2px;
    width: 64px;
    margin-top: 30px;
    border: none;
    display: block;
}
.text-one {
    text-align: center;
    font-size: 14px;
    margin-top: 32px;
}
.middle {
    margin-top: 80px;
    text-align: center;
}
.lamp, .keyboard, .light {
    display: inline-block;
    width: 350px;
    height: 197px;
    
}
.one {
    width: 181px;
    height: 21px;
    display: inline;
}
.lori-one {
    width: 350px;
    height: 52px;
}
a {
    color:#86878B;
}
.cart-one {
    background-color: transparent;
    border: 2px solid #ff8c2c;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}
.lamp-i {
    margin: 21px 26px 21px 25px;
}
.keyb-i {
    margin: 24px 18px 25px 17px;
}
.ligh-i {
    margin: 19px 27px 20px 26px;
}